# Name: VTEA
# Author: Seth Winfree 
# Indiana University and University of Nebraska Medical Center
# Version: 1.1.8
# Now at the ICBM-IUPUI update site
# or the github site:
# https://github.com/icbm-iupui/volumetric-tissue-exploration-analysis

VTEA, "VTEA 1.1.8",vtea._vtea
VTEA, "-"
VTEA, "Load dataset...",vtea._loadDataset
VTEA, "-"
VTEA, "About VTEA...",vtea._about
